body{
    background-image:linear-gradient(to right, #1c1c1c, #8b2323);
}
header{
    text-align: center;
    color: white;
}
.pesquisa{
    text-align: center;
}
.nenc{
    text-align: center;
}
#resultado{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 500px;
    color: #8b2323;
    img{
        width: 100%;
    }
}
.card{
    background-color: #292929;
    border: 3px solid #8b1a1a;
}